@import "~bourbon";

.main-app{
  background: #021e44;
  font-family: 'Overpass Mono', monospace;
  &.initial-bg{
    @include size(100vw, 100vh)
  }
  @include size(100%, 100%);
  .start-btn{
    background-color: #cccccc;
    @include size(200px, 60px);
    border-radius: 0 !important;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -100px;
  }
}