@import "~bourbon";

.question-display{
  background: transparentize(#021e44, .3);
  @include size(100vw, 100vh);
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .question-modal{
    background: #cccccc;
    @include size(500px, auto);
    position: absolute;
    justify-items: center;
    padding: 25px;
    .progress{
      margin: 20px 0;
      height: 20px;
      border-radius: 0;
      background-color: transparentize(#021e44, .5);
      .progress-bar{
        background-color: #021e44;
      }
    }
  }
}