footer.main-footer{
  background-color: #021e44;
  color: #cccccc;
  text-align: center;
  padding: 50px 0 20px;
  .main-footer_social{
    a.social-icon{
      color: #cccccc;
      font-size: 1.3rem;
      margin-left: 30px;
    }
  }
}