header.main-header{
  color: #cccccc;
  display: flex;
  font-family: 'Overpass Mono', monospace;
  justify-content: space-around;
  padding: 20px;
  -webkit-box-shadow: 1px 7px 14px 2px darken(#021E44, 90%);
  box-shadow: 1px 7px 14px 2px darken(#021E44, 4%);
  .logo{
    text-transform: uppercase;
    letter-spacing: 7px;
  }
}